<app-menu></app-menu>
<body>
  <div style="margin: 5%;text-align: center" class="animated bounceInLeft">
  <p-panel>
    <p-header>
      Listado de juegos
    </p-header>
    <div class="row">
      <div class="col">
          <button  block width="80px" class="btn" style="border-radius: 8px;background-color: orange"
          routerLink="/anagrama" >
          <img src="/assets/imagenes/anagrama.jpg" height="200" width="200" >
            </button>
          <h5>Anagrama</h5>
      </div>
      <div class="col">
          
            <button  block width="80px" class="btn" style="border-radius: 8px;background-color: orange"
            routerLink="/piedrapapeltijera">
            <img src="/assets/imagenes/piedrapapeltijera.jpg" height="200" width="300">
              </button>
              <h5>Piedra Papel o Tijera</h5>
      </div>
      <div class="col">
          <button  block width="80px" class="btn" style="border-radius: 8px;background-color: orange"
          routerLink="/agilidadaritmetica">
          <img src="/assets/imagenes/agilidad.png" height="200" width="200">
            </button>
            <h5>Agilidad aritmetica</h5>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <button  block width="80px" class="btn" style="border-radius: 8px;background-color: orange"
            routerLink="/adivinanumero">
            <img src="/assets/imagenes/adivinanumero.jpg" height="200" width="200">
              </button>
              <h5>Adivina el numero</h5>
        </div>
        <div class="col">
            <button  block width="80px" class="btn" style="border-radius: 8px;background-color: orange"
            routerLink="/mijuego">
          <img src="/assets/imagenes/mijuego.jpg" height="200" width="200">
            </button>
            <h5>4 Imagenes 1 Palabra</h5>
        </div>

    </div>
  </p-panel>
</div>
</body>